<main class="grid-container">
  <section>
    <div class="grid-x">
      <div class="cell small-12 medium-4 medium-offset-4 text-center margin-top-3">
        <h5>Veja os testes disponíveis:</h5>
      </div>
      <div class="cell small-12 medium-4 medium-offset-4 text-center margin-top-1">
        <div class="grid-x">
          <div class="cell small-12 text-center margin-bottom-1" [hidden]="examCollection.length">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
            <span class="sr-only">Carregando...</span>
          </div>
          <div class="cell small-12 text-center" *ngFor="let exam of examCollection">
            <a [routerLink]="[exam.id, 'simulation']">{{ exam.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
