<main class="grid-container">
  <section>
    <div class="grid-x">
      <div class="cell small-12 text-center margin-top-2" [hidden]="examSimulationQuestionCollection.length">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        <span class="sr-only">Carregando...</span>
      </div>
      <div class="cell small-12 medium-8 medium-offset-2 text-center margin-top-1" [hidden]="finish">
        <div class="grid-x">
          <div class="cell small-12 text-center margin-1">
            <h5>Responda as perguntas:</h5>
          </div>
        </div>
        <div class="grid-x simulation-question" *ngFor="let examSimulationQuestion of examSimulationQuestionCollection; let i = index" [ngClass]="{'simulation-question__active': stepActive==i}">
          <div class="cell small-12 medium-10 medium-offset-1">
            <div class="grid-x">
              <div class="cell small-12 show-for-small-only text-center">
                {{ examSimulationQuestion.exam_simulation.exam.name }} - {{ examSimulationQuestion.exam_simulation.name }}
              </div>
              <div class="cell small-12 show-for-small-only text-center">
                {{ examSimulationQuestion.exam_simulation_question_discipline.name }}
              </div>
              <div class="cell medium-6 hide-for-small-only text-left">
                {{ examSimulationQuestion.exam_simulation.exam.name }} - {{ examSimulationQuestion.exam_simulation.name }}
              </div>
              <div class="cell medium-6 hide-for-small-only text-right">
                {{ examSimulationQuestion.exam_simulation_question_discipline.name }}
              </div>
            </div>
            <hr />
            <div class="grid-x grid-padding-x">
              <div class="cell small-12 medium-12 text-left">
                <article>
                  <p>{{ examSimulationQuestion.question }}</p>
                  <div class="simulation-question__answer padding-1">
                    <form [formGroup]="forms[i]">
                      <label *ngFor="let examSimulationQuestionAnswer of examSimulationQuestion.exam_simulation_question_answers; let iq = index">
                      <input type="radio" formControlName="answer" value="{{ iq }}" />
                        {{ examSimulationQuestionAnswer.answer }}
                      </label>
                    </form>
                  </div>
                </article>
              </div>
            </div>
            <hr />
            <div class="grid-x">
              <div class="cell small-12 show-for-small-only">
                <button type="button" class="button expanded" (click)="onFormSubmit(i)" [disabled]="!forms[i].valid">Próximo</button>
              </div>
              <div class="cell medium-12 hide-for-small-only text-right">
                <button type="button" class="button" (click)="onFormSubmit(i)" [disabled]="!forms[i].valid">Próximo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-x">
          <div class="cell small-12 medium-10 medium-offset-1 text-left margin-top-2">
            <a [routerLink]="['']">Sair do teste</a>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-8 medium-offset-2 margin-top-1" [hidden]="!finish">
        <div class="grid-x">
          <div class="cell small-12 text-center">
            <h5>Parabéns, você terminou seu teste.</h5>
            <p>Tempo total: {{ examResult.execTime }}</p>
          </div>
          <div class="cell small-12 medium-4 text-center">
            <p>Total de questões: {{ examResult.questions.total }}</p>
          </div>
          <div class="cell small-12 medium-4 text-center">
            <p>Total de acertos: {{ examResult.questions.hits }}</p>
          </div>
          <div class="cell small-12 medium-4 text-center">
            <p>Total de erros: {{ examResult.questions.falts }}</p>
          </div>
        </div>
        <div class="grid-x">
          <div class="cell auto">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
          </div>
        </div>
        <div class="grid-x">
          <div class="cell small-12 medium-10 medium-offset-1 text-right margin-top-2">
            <a [routerLink]="['']">Ir para o menu principal</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
