@import '../node_modules/foundation-sites/assets/foundation';

@include foundation-prototype-classes;

body {
  background-color: #f3f3f3;
}

a {
  color: #00af00;
  &:hover {
    color: #00af00;
  }
}

.button {
  background-color: #00af00!important;
  &:hover {
    background-color: #333!important;
  }
}
